<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Đây là trang danh sách</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên</th>
                <th>Giá</th>
                <th>Mô Tả</th>
                <th>Ảnh</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach((p) => { %>
                <tr>
                    <td><%= p.id %></td>
                    <td><%= p.ten %></td>
                    <td><%= p.gia %></td>
                    <td><%= p.mota %></td>
                    <td><img src="<%= p.anh %>" alt=""></td>
                    <td><a href="/edit/<%= p.id %>" type="button">Sửa</a></td>
                </tr>
            <% }) %>
            <tr></tr>
        </tbody>
    </table>
</body>
</html>